.filter {
    padding-top: 20px;
    padding-bottom: 90px;

    @media screen and (min-width: 768px) {
        padding-top: 20px;
        padding-bottom: 120px
    }

    @media screen and (min-width: 1360px) {
        padding-top: 20px;
        padding-bottom: 120px;
    }

    &__div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;

        @media screen and (min-width: 768px) {
            align-items: flex-start;
            gap: 15px;
            flex-wrap: nowrap;
            padding-left: 100px;
        }

        @media screen and (min-width: 1360px) {
            display: flex;
            padding-left: 320px;
            align-items: center;
            gap: 20px;
            flex-wrap: nowrap
        }
    }

    &__text {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 5px;

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 5px;
        }
    }

    &__input-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #DAF836;
        width: 315px;
        height: 46px;
        border: 1.5px solid #111111;
        padding-left: 20px;
        padding-right: 15px;
        border-radius: 30px;
        flex-wrap: wrap;

        @media screen and (min-width: 768px) {
            width: 254px;
            height: 50px;
            border: 1.5px solid #111111;
            border-radius: 30px;
            padding-left: 20px;
            padding-right: 15px;
        }

        @media screen and (min-width: 1360px) {
            width: 269px;
            height: 50px;
            border: 1.5px solid #111111;
            border-radius: 30px;
            padding-left: 20px;
            padding-right: 15px;

        }
    }

    &__input {
        font-size: 14px;
        line-height: 18px;
        background-color: transparent;
        border: none;
        width: 150px;
        outline: none;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 18px;
            background-color: transparent;
            border: none;
            width: 150px;
        }

        @media screen and (min-width: 1360px) {
            font-size: 16px;
            line-height: 18px;
            background-color: transparent;
            border: none;
            width: 150px;
        }
    }

    &__search-btn {
        background-color: transparent;
        border: none;

        @media screen and (min-width: 768px) {
            background-color: transparent;
            border: none;
        }

        @media screen and (min-width: 1360px) {
            background-color: transparent;
            border: none;
        }
    }

    &__select-episode {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        @media screen and (min-width: 768px) {
            flex-wrap: wrap;
            gap: 15px;
        }

        @media screen and (min-width: 1360px) {
            gap: 20px;
            flex-wrap: nowrap
        }
    }

    &__select {
        width: 314px;
        border: none;
        appearance: none;
        background-image: url(../img/characters/chevron-down.webp);
        background-repeat: no-repeat;
        background-position: right 1rem center;
        ;
        border: 1.5px solid #111111;
        border-radius: 25px;
        padding-left: 20px;
        background-color: transparent;
        display: flex;
        align-items: center;
        height: 50px;

        @media screen and (min-width: 768px) {
            width: 190px;
        }

        @media screen and (min-width: 1360px) {
            width: 190px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;

        @media screen and (min-width: 768px) {
            margin-top: 64px;
            gap: 32px;
            flex-wrap: wrap;
            flex-direction: row;
        }

        @media screen and (min-width: 1360px) {
            margin-top: 64px;
            gap: 16px;
            row-gap: 32px;
        }
    }

    &__load:hover {
        background-color: #fdfd4a;
    }

    &__load {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #A1D737;
        cursor: pointer;
        color: #0D171D;
        width: 107px;
        height: 36px;
        margin-top: 20px;
        margin: 0 auto;
        display: block;
        border: none;
        border-radius: 25px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        margin-top: 30px;


        @media screen and (min-width: 768px) {
            width: 126px;
            height: 42px;
            margin-top: 60px;
            font-size: 14px;
            line-height: 18px;
        }

        @media screen and (min-width: 1360px) {
            margin-top: 70px;
        }
    }
}


.episode {
    background-color: #0D171D;
    border-radius: 18px;
    position: relative;
    width: 316px;
    height: 250px;

    @media screen and (min-width: 768px) {
        width: 326px;
        height: 250px;
    }

    @media screen and (min-width: 1360px) {
        width: 279px;
        height: 200px;

    }

    &::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.2;
        background-image: url(../img/episodes/filter-episodes-pc.webp);
        background-position: center;
        background-size: cover;
        border-radius: 18px;
    }

    &__div {
        display: flex;
        width: 316px;
        height: 250px;
        padding: 20px;
        position: relative;
        z-index: 4;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: 768px) {
            width: 336px;
            height: 250px;
        }

        @media screen and (min-width: 1360px) {
            width: 284px;
            height: 200px;
        }
    }

    &__name {
        color: #A1D737;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
    }

    &__dive {
        display: flex;
        gap: 17px;
        width: 300px;

        @media screen and (min-width: 768px) {
            width: 296px;
        }

        @media screen and (min-width: 1360px) {
            width: 244px;
        }
    }

    &__text1,
    &__text2 {
        color: rgba(250, 250, 250, 0.50);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        margin-bottom: 0;
    }

  

    &__season,
    &__airDate {
        color: #FAFAFA;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    &__button {
        position: absolute;
        background-color: transparent;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: none;
        width: 316px;
        height: 250px;

        @media screen and (min-width: 768px) {
            width: 326px;
            height: 250px;
        }

        @media screen and (min-width: 1360px) {
            width: 280px;
            height: 200px;
        }
    }
}