.hero {
  color: #fafafa;
  padding-bottom: 0px;
  padding-top: 10px;

  @media screen and (min-width: 768px) {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  @media screen and (min-width: 1360px) {
    padding-bottom: 0px;
    padding-top: 10px;
  }

  &__box {
    display: flex;

    @media screen and (min-width: 768px) {
      justify-content: center;
      align-items: center;
    }

    @media screen and (min-width: 1360px) {
      justify-content: space-between;
      align-items: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: 768px) {
      justify-content: center;
      align-items: center;
    }

    @media screen and (min-width: 1360px) {
      flex-direction: row;
    }
  }

  &__box-text {
    width: 291px;
    margin-top: 10px;
    text-align: center;

    @media screen and (min-width: 768px) {
      width: 420px;
      margin-top: 16px;
    }

    @media screen and (min-width: 1360px) {
      width: 311px;
    }
  }

  &__text {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  &__image {
    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1360px) {
    }
  }

  &__image-logo {
    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1360px) {
    }
  }

  &__image-box {
    margin-top: 54px;
  }

  &__button-tobottom {
    background: none;
    border: none;
    display: block;
    margin-bottom: auto;
    align-self: center;
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-top: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      margin-top: auto;
      align-self: flex-end;
      width: 72px;
      height: 72px;
    }

    @media screen and (min-width: 1360px) {
      margin-left: auto;
      width: 80px;
      height: 80px;
    }
  }

  &__button-tobottom:hover {
    background-color: #A1D737;
    color: black;
    border-radius: 36px;
  }

  &__svg:hover {
    stroke: black;
  }
}
