<footer id="bottom" class="footer">
    <div class="footer__container container">
        <div class="footer__div">
            <div class="footer__picture-div">
                <picture class="footer__image">
                    <source srcset="
                        ./img/component-images/desktop/footer-image-pc.webp 1x,
                        ./img/component-images/desktop/footer-image-pc-2x.webp 2x,
                    " media="(min-width: 1360px)" />
                    <source srcset="
                        ./img/component-images/desktop/footer-image-pc.webp 1x,
                        ./img/component-images/desktop/footer-image-pc-2x.webp 2x,
                        " media="(min-width: 768px)" />
                    <source srcset="
                        ./img/component-images/mobile/footer-image-mobile.webp 1x,
                        ./img/component-images/mobile/footer-image-mobile-2x.webp 2x,
                        " media="(min-width: 320px)" />
                    <img class="footer__image" src="./img/component-images/desktop/footer-image-pc.webp"
                        alt="footer image" />
                </picture>
                <picture class="footer__image-text">
                <source srcset="
                            ./img/main/desktop/footer-text-png-desktop.webp 1x,
                            ./img/main/desktop/footer-text-png-desktop-2x.webp 2x,
                        " media="(min-width: 1360px)" />
                <source srcset="
                            ./img/main/desktop/footer-text-png-desktop.webp 1x,
                            ./img/main/desktop/footer-text-png-desktop-2x.webp 2x,
                            " media="(min-width: 768px)" />
                <source srcset="
                            ./img/main/mobile/footer-text-png-main-mobile.webp 1x,
                            ./img/main/mobile/footer-text-png-main-mobile.webp 2x,
                            " media="(min-width: 320px)" />
                <img class="footer__image-text" src="./img/main/desktop/footer-text-png-desktop.webp"
                    alt="footer text image" />
                </picture>
            </div>
            <div class="footer__flex-div">
             <div class="footer__text-div">
                <a class="footer__text" href="./characters.html">Characters</a>
                <a class="footer__text" href="./episodes.html">Episodes</a>
            </div>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="https://www.facebook.com/">
                        <picture class="footer__social">
                            <source srcset="
                                ./img/main/footer-facebook-png-main.webp 1x,
                                ./img/main/footer-facebook-png-main-2x.webp 2x
                                " />
                            <img class="footer__social" src="./img/main/footer-facebook-png-main.webp"
                                alt="footer facebook" />
                        </picture>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="https://x.com/">
                        <picture class="footer__social">
                            <source srcset="
                                ./img/main/footer-twitter-png-main.webp 1x,
                                ./img/main/footer-twitter-png-main-2x.webp 2x
                                " />
                            <img class="footer__social" src="./img/main/footer-twitter-png-main.webp"
                                alt="footer twitter" />
                        </picture>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="https://www.instagram.com/">
                        <picture class="footer__social">
                            <source srcset="
                                ./img/main/footer-instagram-png-main.webp 1x,
                                ./img/main/footer-instagram-png-main-2x.webp 2x
                                " />
                            <img class="footer__social" src="./img/main/footer-instagram-png-main.webp"
                                alt="footer instagram" />
                        </picture>
                    </a>
                </li>
                </ul>
            </div>
        </div>
        <p class="footer__article">Privacy Policy Public Offering Agreement</p>
    </div>
</footer>