<header class="header">
  <div class="header__box container">
    <div class="header__box-link">
      <a class="header__link" href="./characters.html">
        <button class="header__characters-btn" type="button">Characters</button>
      </a>
      <a class="header__link" href="./episodes.html">
        <button class="header__episodes-btn" type="button">Episodes</button>
      </a>
    </div>
    <div class="header__input-div">
      <button type="button" class="header__button">
        <img
          class="header__input-img"
          src="./img/component-CE/search-header-CE.webp"
          alt="search"
        />
      </button>
      <input class="header__input" placeholder="Search" type="text" />
    </div>
  </div>
</header>
