<section class="hero">
  <div class="container">
    <div class="hero__box">
      <div class="hero__content">
        <div class="hero__box-text">
          <h2 class="hero__text">
            If you're a fan of Rick and Morty, you don't want to miss out on our
            app! Start exploring the endless possibilities of Rick and Morty!
          </h2>
        </div>
        <div class="hero__image-box">
          <img
            src="././img/mainpage-images/desktop/heroimage.webp"
            class="hero__image"
            alt="ufo-rick-and-morty"
          />
          <img
            src="././img/mainpage-images/desktop/rickandmortylogo.webp"
            class="hero__image-logo"
            alt="rick-and-morty-logo"
          />
        </div>
      </div>
    </div>
    <a href="#bottom" class="hero__button-tobottom">
      <svg class="hero__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" fill="none">
        <circle
          cx="40"
          cy="40"
          r="39.5"
          stroke="#FAFAFA"
          stroke-opacity="0.5"
        />
        <path
          d="M20 39.8601L40 60M40 60L60 39.8601M40 60V20"
          stroke="#FAFAFA"
          stroke-opacity="0.5"
        />
      </svg>
    </a>
  </div>
</section>
