<section class="main-characters">
  <div class="main-characters__title">
    <h2><span>Main</span> characters</h2>
  </div>
  <div class="main-characters__container container">
    <div class="main-characters__image">
      <img id="character-img" src="" alt="Character" />
    </div>
    <div class="main-characters__list">
                                                                  <!-- ! My +++ -->
      <div class="main-characters__character" data-name="Rick Sanchez" data-id="1">
        <h3 class="main-characters__name">Rick Sanchez</h3>
        <p class="main-characters__text">
          Rick Sanchez is a brilliant but deeply troubled scientist and one of
          the main characters in the animated TV show Rick and Morty.
        </p>
      </div>
                                                                  <!-- ! My +++ -->
      <div class="main-characters__character" data-name="Morty Smith" data-id="2">
        <h3 class="main-characters__name">Morty Smith</h3>
        <p class="main-characters__text">
          Morty Smith is the other main character in the animated TV show Rick
          and Morty, and Rick's grandson.
        </p>
      </div>
                                                                  <!-- ! My +++ -->
      <div class="main-characters__character" data-name="Summer Smith" data-id="3">
        <h3 class="main-characters__name">Summer Smith</h3>
        <p class="main-characters__text">
          Summer Smith is Morty's older sister and one of the main characters in
          Rick and Morty. Initially portrayed as a typical teenager, she
          develops into a more complex and independent character, who is
          intelligent, resourceful, and fiercely loyal to her family.
        </p>
      </div>
                                                                  <!-- ! My +++ -->
      <div class="main-characters__character" data-name="Beth Smith" data-id="4">
        <h3 class="main-characters__name">Beth Smith</h3>
        <p class="main-characters__text">
          Beth is a horse surgeon, and as Rick's daughter, she is intelligent if
          sometimes cold. She is voiced by Sarah Chalke.
        </p>
      </div>
                                                                  <!-- ! My +++ -->
      <div class="main-characters__character" data-name="Jerry Smith" data-id="5">
        <h3 class="main-characters__name">Jerry Smith</h3>
        <p class="main-characters__text">
          Jerry is the husband of Beth Smith, the father of Summer Smith and
          Morty Smith, and the son-in-law of Rick Sanchez.
        </p>
      </div>
    </div>
  </div>
</section>
