<section class="slider">
  <div class="slider-container container">
    <h2 class="slider__text">
      Ready to <span class="slider__span">explore</span> the crazy world of Rick
      and Morty?
    </h2>
    <div class="slide">
      <div class="slider__box">
        <img
          class="slider__img"
          src="./img/mainpage-images/slider-images/image1.webp"
          alt=""
        />
        <img
          class="slider__img"
          src="./img/mainpage-images/slider-images/image2.webp"
          alt=""
        />
        <img
          class="slider__img"
          src="./img/mainpage-images/slider-images/image3.webp"
          alt=""
        />
        <img
          class="slider__img"
          src="./img/mainpage-images/slider-images/image4.webp"
          alt=""
        />
        <img
          class="slider__img"
          src="./img/mainpage-images/slider-images/image5.webp"
          alt=""
        />
      </div>
    </div>
    <div class="slider__button__box">
      <a class="slider__button" href="./episodes.html">Episodes</a>
    </div>
  </div>
</section>
