<section class="hero">
    <div class="hero__container container">
        <div class="hero__text-div">
            <h1 class="hero__title">Episodes</h1>
            <p class="hero__text">
                With a comprehensive guide to every episode, you can relive your favorite moments and discover new ones.
                From the bizarre and hilarious to the emotional and thought-provoking, our episode guide covers it all.
            </p>
            <a class="hero__button" href="./index.html">Back home</a>
        </div>
        <div class="hero__image-div">
            <picture class="hero__image">
                <source srcset="
                                ./img/episodes/desktop/hero-episodes-pc.webp 1x,
                                ./img/episodes/desktop/hero-episodes-pc-2x.webp 2x,
                            " media="(min-width: 1360px)" />
                <source srcset="
                                ./img/episodes/tablet/hero-episodes-tablet.webp 1x,
                                ./img/episodes/tablet/hero-episodes-tablet-2x.webp 2x,
                                " media="(min-width: 768px)" />
                <source srcset="
                                ./img/episodes/mobile/hero-episodes-mobile.webp 1x,
                                ./img/episodes/mobile/hero-episodes-mobile-2x.webp 2x,
                                " media="(min-width: 320px)" />
                <img class="hero__image" src="./img/episodes/desktop/hero-episodes-pc.webp" alt="hero section episodes">                
            </picture>
        </div>
    </div>
</section>