<div class="backdrop hidden">
    <div class="modal">
        <div class="modal__border">
            <h2 class="modal__title"></h2>
            <div class="modal__episode-div">
                <p class="modal__id">Id: <br> <span class="modal__id-text"></span></p>
                <p class="modal__airDate">Air date: <br> <span class="modal__airDate-text"></span></p>
            </div>
                <h2 class="modal__title-characters">Characters</h2>
                <ul class="modal__characters-list">
                    <li class="modal__characters-item">
                        <img id="image1" class="modal__characters-img" src="" alt="character">
                        <p id="character1" class="modal__name"></p>
                    </li>
                    <li class="modal__characters-item">
                        <img id="image2" class="modal__characters-img" src="" alt="character">
                        <p id="character2" class="modal__name"></p>
                    </li>
                    <li class="modal__characters-item">
                        <img id="image3" class="modal__characters-img" src="" alt="character">
                        <p id="character3" class="modal__name"></p>
                    </li>
                    <li class="modal__characters-item">
                        <img id="image4" class="modal__characters-img" src="" alt="character">
                        <p id="character4" class="modal__name"></p>
                    </li>
                </ul>
        </div>
        <button class="modal__close" type="button">
            <picture class="modal__close-img">
                    <source
                        srcset="
                            ./img/characters/modal-close-1x.webp 1x,
                            ./img/characters/modal-close-2x.webp 2x,
                            "
                        />
                <img class="modal-close-img" src="./img/characters/modal-close-1x.webp" alt="characters hero section image" />
            </picture>
        </button>
    </div>
</div>