<div class="backdrop hidden">
    <div class="modal">
        <div class="modal__character-div">
            <div class="modal__image">
                <img class="modal__img" src="" alt="image of a character">
            </div>
            <div class="modal__info">
                <ul class="modal__info-list">
                    <li class="modal__info-item">
                        <p class="modal__info-text">Status</p>
                        <p class="modal__info-info" id="status">Alive</p>
                    </li>
                    <li class="modal__info-item">
                        <p class="modal__info-text">Species</p>
                        <p class="modal__info-info" id="species">Human</p>
                    </li>
                    <li class="modal__info-item">
                        <p class="modal__info-text">Gender</p>
                        <p class="modal__info-info" id="gender">Male</p>
                    </li>
                    <li class="modal__info-item">
                        <p class="modal__info-text">Origin</p>
                        <p class="modal__info-info" id="origin">Earth</p>
                    </li>
                    <li class="modal__info-item">
                        <p class="modal__info-text">Location</p>
                        <p class="modal__info-info" id="location">Australia</p>
                    </li>
                    <li class="modal__info-item">
                        <p class="modal__info-text">Episodes</p>
                        <p class="modal__info-info" id="episodes">1,2,3,4</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal__episodes-div">
            
            <h2 class="modal__title">Episodes</h2>
            <ul class="modal__episodes-list">
                <li id="item1"  class="modal__episodes-item">
                    <h3 id="title1" class="modal__episode-title"></h3>
                    <div class="modal__episode-season">
                        <p class="modal__episode-text">Episode</p>
                        <p id="season1" class="modal__episode-info"></p>
                    </div>
                    <div class="modal__episode-airdate">
                        <p class="modal__episode-text">Air date</p>
                        <p id="airdate1" class="modal__episode-info"></p>
                    </div>
                </li>
                <li id="item2" class="modal__episodes-item">
                    <h3 id="title2" class="modal__episode-title"></h3>
                    <div class="modal__episode-season">
                        <p class="modal__episode-text">Episode</p>
                        <p id="season2" class="modal__episode-info"></p>
                    </div>
                    <div class="modal__episode-airdate">
                        <p class="modal__episode-text">Air date</p>
                        <p id="airdate2" class="modal__episode-info"></p>
                    </div>
                </li>
                <li id="item3" class="modal__episodes-item">
                    <h3 id="title3" class="modal__episode-title"></h3>
                    <div class="modal__episode-season">
                        <p class="modal__episode-text">Episode</p>
                        <p id="season3" class="modal__episode-info"></p>
                    </div>
                    <div class="modal__episode-airdate">
                        <p class="modal__episode-text">Air date</p>
                        <p id="airdate3" class="modal__episode-info"></p>
                    </div>
                </li>
                <li id="item4" class="modal__episodes-item">
                    <h3 id="title4" class="modal__episode-title"></h3>
                    <div class="modal__episode-season">
                        <p class="modal__episode-text">Episode</p>
                        <p id="season4" class="modal__episode-info"></p>
                    </div>
                    <div class="modal__episode-airdate">
                        <p class="modal__episode-text">Air date</p>
                        <p id="airdate4" class="modal__episode-info"></p>
                    </div>
                </li>
                <li id="item5" class="modal__episodes-item">
                    <h3 id="title5" class="modal__episode-title"></h3>
                    <div class="modal__episode-season">
                        <p class="modal__episode-text">Episode</p>
                        <p id="season5" class="modal__episode-info"></p>
                    </div>
                    <div class="modal__episode-airdate">
                        <p class="modal__episode-text">Air date</p>
                        <p id="airdate5" class="modal__episode-info"></p>
                    </div>
                </li>
            </ul>
            <button type="button" id="next-episode">Next Episode</button>
        </div>
        <button class="modal__close" type="button">
            <picture class="modal__close-img">
                    <source
                        srcset="
                            ./img/characters/modal-close-1x.webp 1x,
                            ./img/characters/modal-close-2x.webp 2x,
                            "
                        />
                <img class="modal-close-img" src="./img/characters/modal-close-1x.webp" alt="characters hero section image" />
            </picture>
        </button>
    </div>
</div>