<section class="filter">
    <div class="filter__container container">
        <div class="filter__div">
            <div class="filter__input-div">
                <p class="filter__label">Name</p>
                <div class="filter__input-button-div">
                    <input class="filter__input" type="text" placeholder="Enter name">
                    <button class="filter__search-button" type="button">
                            <img
                            class="filter__search-img"
                            src="./img/characters/search-filter.webp"
                            alt="search"
                            />
                    </button>
                </div>
            </div>
            <div class="filter__selects-div">
                    <div class="filter__select-div1">
                        <div class="filter__select-div">
                            <p class="filter__label">Status</p>
                                <select class="filter__select1" name="Alive" id="">
                                    <option value="All">All</option>
                                    <option value="Alive">Alive</option>
                                    <option value="Dead">Dead</option>
                                    <option value="Unknown">Unknown</option>
                                </select>
                            </div>
                            <div class="filter__select-div">
                                <p class="filter__label">Species</p>
                                <select class="filter__select2" name="Human" id="">
                                    <option value="All">All</option>
                                    <option value="Human">Human</option>
                                    <option value="Alien">Alien</option>
                                    <option value="Mythological Creature">Mythological Creature</option>
                                    <option value="Humanoid">Humanoid</option>
                                    <option value="Animal">Animal</option>
                                    <option value="Cronenberg">Cronenberg</option>
                                    <option value="Poopybutthole">Poopybutthole</option>
                                    <option value="Robot">Robot</option>
                                    <option value="Disease">Disease</option>
                                </select>
                            </div>
                        </div>
                            <div class="filter__select-div2">
                                <div class="filter__select-div">
                                    <p class="filter__label">Type</p>
                                    <select class="filter__select3" name="Parasite" id="">
                                        <option value="All">All</option>
                                        <option value="Parasite">Parasite</option>
                                        <option value="Human with ants in his eyes">Human with ants in his eyes</option>
                                        <option value="Superhuman">Superhuman</option>
                                        <option value="Genetic experiment">Genetic experiment</option>
                                        <option value="Fish-Person">Fish-Person</option>
                                        <option value="Cromulon">Cromulon</option>
                                    </select>
                                </div>
                                <div class="filter__select-div">
                                    <p class="filter__label">Gender</p>
                                    <select class="filter__select4" name="All" id="">
                                        <option value="All">All</option>
                                        <option value="Female">Female</option>
                                        <option value="Male">Male</option>
                                        <option value="Genderless">Genderless</option>
                                        <option value="Unknown">Unknown</option>
                                    </select>
                                </div>
                            </div>     
                        </div>
        </div>
        <ul class="filter__list"></ul>
        <div class="not-found">
            <picture class="not-found__img">
                    <source
                        srcset="./img/component-images/desktop/not-found-PC.webp 1x,
                                ./img/component-images/desktop/not-found-PC-2x.webp 2x"
                        media="(min-width: 1360px)" />
                    <source
                        srcset="./img/component-images/tablet/not-found-Tablet.webp 1x,
                                ./img/component-images/tablet/not-found-Tablet-2x.webp 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="./img/component-images/mobile/not-found-Mobile.webp 1x,
                                ./img/component-images/mobile/not-found-Mobile-2x.webp 2x"
                        media="(min-width: 320px)" />
                    <img class="hero__image" src="./img/component-images/desktop/not-found-PC.webp" alt="not found image" />
                </picture>
                <p class='not-found__text'>Oops! Try looking for something else...</p>
        </div>
        <button class="filter__load-more" type="button">Load more</button>
    </div>
</section>