<footer class="footer">
    <div class="footer__container container">
        <div class="footer__div">
            <div class="footer__picture-div">
                <picture class="footer__image">
                    <source
                        srcset="
                            ./img/component-images/desktop/footer-image-pc.webp 1x,
                            ./img/component-images/desktop/footer-image-pc-2x.webp 2x,
                        "
                        media="(min-width: 1360px)"
                        />
                    <source
                        srcset="
                            ./img/component-images/tablet/footer-image-tablet.webp 1x,
                            ./img/component-images/tablet/footer-image-tablet-2x.webp 2x,
                            "
                        media="(min-width: 768px)"
                        />
                    <source
                        srcset="
                            ./img/component-images/mobile/footer-image-mobile.webp 1x,
                            ./img/component-images/mobile/footer-image-mobile-2x.webp 2x,
                            "
                        media="(min-width: 320px)"
                        />
                    <img class="footer__image" src="./img/component-images/desktop/footer-image-pc.webp" alt="footer image" />
                </picture>
                <picture class="footer__image-text">
                    <source
                        srcset="
                            ./img/component-CE/desktop/footer-text-png-desktop-CE.webp 1x,
                            ./img/component-CE/desktop/footer-text-png-CE-desktop-2x.webp 2x,
                        "
                        media="(min-width: 1360px)"
                        />
                    <source
                        srcset="
                            ./img/component-CE/desktop/footer-text-png-desktop-CE.webp 1x,
                            ./img/component-CE/desktop/footer-text-png-CE-desktop-2x.webp 2x,
                            "
                        media="(min-width: 768px)"
                        />
                    <source
                        srcset="
                            ./img/component-CE/mobile/footer-text-png-CE-mobile.webp 1x,
                            ./img/component-CE/mobile/footer-text-png-CE-mobile.webp 2x,
                            "
                        media="(min-width: 320px)"
                        />
                    <img class="footer__image-text" src="./img/component-CE/desktop/footer-text-png-desktop-CE.webp" alt="footer text image" />
                </picture>
            </div>
            <div class="footer__flex-div">
                <div class="footer__text-div">
                    <a class="footer__text" href="./characters.html">Characters</a>
                    <a class="footer__text" href="./episodes.html">Episodes</a>
                </div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="https://www.facebook.com/">
                            <picture class="footer__social">
                                <source
                                    srcset="
                                    ./img/component-CE/footer-facebook.webp 1x,
                                    ./img/component-CE/footer-facebook-2x.webp 2x
                                    "
                                />
                                <img class="footer__social" src="./img/component-CE/footer-facebook.webp" alt="footer facebook" />
                            </picture>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="https://www.instagram.com/">
                        <picture class="footer__social">
                                <source
                                    srcset="
                                    ./img/component-CE/footer-instagram-pc.webp 1x,
                                    ./img/component-CE/footer-instagram-pc-2x.webp 2x
                                    "
                                />
                                <img class="footer__social" src="./img/component-CE/footer-instagram-pc.webp" alt="footer instagram" />
                            </picture>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="https://x.com/">
                            <picture class="footer__social">
                                <source
                                    srcset="
                                    ./img/component-CE/footer-twitter.webp 1x,
                                    ./img/component-CE/footer-twitter-2x.webp 2x
                                    "
                                />
                                <img class="footer__social" src="./img/component-CE/footer-twitter.webp" alt="footer twitter" />
                            </picture>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="footer__article">Privacy Policy Public Offering Agreement</p>
    </div>
</footer>