.filter {
    padding-top: 20px;
    padding-bottom: 90px;

    @media screen and (min-width: 768px){
        padding-top: 20px;
        padding-bottom: 120px
    }

    @media screen and (min-width: 1360px){
        padding-top: 20px;
        padding-bottom: 120px;
    }


    &__div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;

        @media screen and (min-width: 768px){
            align-items: flex-start;
            gap: 15px;
            flex-wrap: nowrap
            
        }

        @media screen and (min-width: 1360px){
            display: flex;
            padding-left: 50px;
            align-items: center;
            gap: 20px;
            flex-wrap: nowrap
        }
    }

    &__selects-div {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        @media screen and (min-width: 768px){
            flex-wrap: wrap;
            gap: 15px;
        }

        @media screen and (min-width: 1360px){
            gap: 20px;
            flex-wrap: nowrap
        }
    }

    &__select-div1, &__select-div2 {
        display: flex;
        gap: 10px;


        @media screen and (min-width: 768px){
            gap: 15px;
        }

        @media screen and (min-width: 1360px){
            gap: 20px;
        }
    }

    &__select-div2 {

        @media screen and (min-width: 768px){
            margin-left: -270px;
        }

        
        @media screen and (min-width: 1360px){
            margin-left: 0;
        }

    }

    &__input-div {
        

        @media screen and (min-width: 1360px){

        }
    }

    &__label {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 5px;

        // @media screen and (min-width: 768px){

        // }

        @media screen and (min-width: 768px){
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 5px;

        }
    }

    &__input-button-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #DAF836;
        width: 315px;
        height: 46px;
        border: 1.5px solid #111111;
        padding-left: 20px;
        padding-right: 15px;
        border-radius: 30px;
        flex-wrap: wrap;

        @media screen and (min-width: 768px){
            width: 254px;
            height: 50px;
            border: 1.5px solid #111111;
            border-radius: 30px;
            padding-left: 20px;
            padding-right: 15px;
        }

        @media screen and (min-width: 1360px){
            width: 269px;
            height: 50px;
            border: 1.5px solid #111111;
            border-radius: 30px;
            padding-left: 20px;
            padding-right: 15px;
            
        }
    }

    &__input {
        font-size: 14px;
        line-height: 18px;
        outline: none;

        @media screen and (min-width: 768px){
            font-size: 16px;
            line-height: 18px;
        }

        @media screen and (min-width: 1360px){
            font-size: 16px;
            line-height: 18px;
            
        }
    }

    &__input {
        background-color: transparent;
        border: none;
        width: 150px;
        outline: none;

        @media screen and (min-width: 768px){
            background-color: transparent;
            border: none;
            width: 150px;
            
        }


        @media screen and (min-width: 1360px){
            background-color: transparent;
            border: none;
            width: 150px;
            
        }
    }

    &__search-button {
        background-color: transparent;
        border: none;

        @media screen and (min-width: 768px){
            background-color: transparent;
            border: none;
        }

        @media screen and (min-width: 1360px){
            background-color: transparent;
            border: none;
        }
    }



    &__select-div {


        @media screen and (min-width: 1360px){

        }
    }

    &__select1, &__select2, &__select3, &__select4 {
        appearance: none;
        background-image: url(../img/characters/chevron-down.webp);
        background-repeat: no-repeat;
        background-position: right 1rem center;;
        border: 1.5px solid #111111;
        border-radius: 25px;
        padding-left: 20px;
        background-color: transparent;
        display: flex;
        align-items: center;
        height: 50px;

        @media screen and (min-width: 768px){
            background-position: right 1.3rem center;;
            
        }
    }



    &__select1 {
        width: 153px;
        height: 46px;

        @media screen and (min-width: 768px){
            width: 178px;
            
        }

        @media screen and (min-width: 1360px){
            width: 165px;
            
        }
    }

    
    &__select2 {
        width: 153px;
        height: 46px;
        

        @media screen and (min-width: 768px){
            width: 225px;
            
        }

        @media screen and (min-width: 1360px){
            width: 204px;
        }
    }
    
    &__select3 {
        width: 153px;
        height: 46px;
        @media screen and (min-width: 768px){
            width: 175px;
            
        }

        @media screen and (min-width: 1360px){
            width: 175px;
        }
    }
    
    &__select4 {
        width: 153px;
        height: 46px;
        @media screen and (min-width: 768px){
            width: 167px;
            
        }

        @media screen and (min-width: 1360px){
            width: 167px;
        }
    }










    &__load-more {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #A1D737;
        cursor: pointer;
        color: #0D171D;
        width: 107px;
        height: 36px;
        margin-top: 20px;
        margin: 0 auto;
        display: block;
        border: none;
        border-radius: 25px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        margin-top: 30px;


        @media screen and (min-width: 768px){
            width: 126px;
            height: 42px;
            margin-top: 60px;
            font-size: 14px;
            line-height: 18px;
        }

        @media screen and (min-width: 1360px){
            margin-top: 70px;

        }
    }

    &__load-more:hover {
        background-color: #fdfd4a;
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;

        @media screen and (min-width: 768px){
            gap: 25px;
            flex-wrap: wrap;
            flex-direction: row;
            row-gap: 60px;
            margin-top: 60px;
        }

        @media screen and (min-width: 1360px){
            gap: 20px;
            margin-top: 60px;
            row-gap: 60px;
        }
    }
}

.character {
    position: relative;
    width: 315px;
    height: 417px;

    @media screen and (min-width: 768px){
        width: 328px;
        height: 418px;
    }

    @media screen and (min-width: 1360px){
        width: 276px;
        height: 396px;

    }

    &__image {
        width: 315px;
        height: 315px;
        border: 2px solid #A1D737;
        border-radius: 10px;

        @media screen and (min-width: 768px){
            width: 332px;
            height: 332px;
        }

        @media screen and (min-width: 1360px){
            width: 276px;
            height: 312px;
        }
    }

    &__name {
        margin-top: 12px;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 12px;
        font-weight: 600;
        color: #111111;

        @media screen and (min-width: 768px){

        }

        @media screen and (min-width: 1360px){

        }
    }

    &__text1, &__text2 {
        color: rgb(17, 17, 17, 0.5);
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;

        @media screen and (min-width: 768px){

        }

        @media screen and (min-width: 1360px){

        }
    }

    &__text1 {
        margin-bottom: 5px;
    }

    &__origin, &__location {
        color: rgb(17, 17, 17, 1);
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }

    &__button {
        position: absolute;
        background-color: transparent;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: none;
    }
}