@import './utils/variables';
@import './utils/placeholders';
@import './utils/mixins';
@import './utils/animations';
@import './base/reset';
@import './base/common';
@import './main/header';
@import './main/hero';
@import './main/tags';
@import './main/main-characters';
@import './main/slider';
@import './main/footer';
@import './main/footer';